/* XS >=390px */
@media (min-width: 390px) {    
  body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

.head_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: hsl(0, 1%, 52%);
      padding: 1px;
      text-align: left;
      font-size: 10px;
      height: 50px;
    }

.horizontal-space {
  margin-right: 8px; /* Adjust the margin to create horizontal space between links */
}

a {
  color: white;
  text-decoration: none;
  margin: 1px;
  display: flex;
  align-items: center;
}

/* New styles for the second header */
.second-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c81c1c; /* Different color for the second header */
  font-size: 10px;
  padding: 3px;
  text-align: center;
  color: white; /* Text color for the second header */
  height: 25px;
}
}

/* S >=576px */
@media (min-width: 576px) {    
    body {
        margin: 0;
        font-family: Arial, sans-serif;
      }

.head_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: hsl(0, 1%, 52%);
        padding: 1px;
        text-align: left;
        font-size: 10px;
        height: 50px;
      }

.horizontal-space {
    margin-right: 20px; /* Adjust the margin to create horizontal space between links */
  }

a {
    color: white;
    text-decoration: none;
    margin: 1px;
    display: flex;
    align-items: center;
  }

  /* New styles for the second header */
  .second-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c81c1c; /* Different color for the second header */
    font-size: 10px;
    padding: 3px;
    text-align: center;
    color: white; /* Text color for the second header */
    height: 25px;
  }
}

/* M >=768px */
@media (min-width: 768px) {    
  body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

.head_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: hsl(0, 1%, 52%);
      padding: 1px;
      text-align: left;
      font-size: 13px;                    /*font size adjusted*/
      height: 50px;
    }

.horizontal-space {
  margin-right: 55px; /* Adjust the margin to create horizontal space between links */
}

a {
  color: white;
  text-decoration: none;
  margin: 1px;
  display: flex;
  align-items: center;
}

/* New styles for the second header */
.second-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c81c1c; /* Different color for the second header */
  font-size: 13px;          /*font size adjusted*/
  padding: 3px;
  text-align: center;
  color: white; /* Text color for the second header */
  height: 25px;
}
}

/* L >=992px */
@media (min-width: 992px) {    
  body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

.head_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: hsl(0, 1%, 52%);
      padding: 1px;
      text-align: left;
      font-size: 15px;              /*font size adjusted*/
      height: 50px;
    }

.horizontal-space {
  margin-right: 85px; /* Adjust the margin to create horizontal space between links */
}

a {
  color: white;
  text-decoration: none;
  margin: 1px;
  display: flex;
  align-items: center;
}

/* New styles for the second header */
.second-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c81c1c; /* Different color for the second header */
  font-size: 13px;    /* Adjusted for the second header */
  padding: 3px;
  text-align: center;
  color: white; /* Text color for the second header */
  height: 25px;
}
}

/* XL >=1200px */
@media (min-width: 1200px) {    
  body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

.head_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: hsl(0, 1%, 52%);
      padding: 1px;
      text-align: left;
      font-size: 15px;
      height: 50px;
    }

.horizontal-space {
  margin-right: 120px; /* Adjust the margin to create horizontal space between links */
}

a {
  color: white;
  text-decoration: none;
  margin: 1px;
  display: flex;
  align-items: center;
}

/* New styles for the second header */
.second-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c81c1c; /* Different color for the second header */
  font-size: 13px;
  padding: 3px;
  text-align: center;
  color: white; /* Text color for the second header */
  height: 25px;
}
}

/* XXL >=1400px */
@media (min-width: 1400px) {    
  body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

.head_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: hsl(0, 1%, 52%);
      padding: 1px;
      text-align: left;
      font-size: 15px;
      height: 50px;
    }

.horizontal-space {
  margin-right: 150px; /* Adjust the margin to create horizontal space between links */
}

a {
  color: white;
  text-decoration: none;
  margin: 1px;
  display: flex;
  align-items: center;
}

/* New styles for the second header */
.second-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c81c1c; /* Different color for the second header */
  font-size: 13px;
  padding: 3px;
  text-align: center;
  color: white; /* Text color for the second header */
  height: 25px;
}
}