/* XS >=320px */
  @media (min-width: 320px) { 
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 1%, 52%);
    border: 3px dotted red;
    align-items: center;
  }
  
  .row {
    border: 3px solid black;
    width: 100%;
    align-items: center;
  }
  
  .col, .col-01, .col-2, .col-3, .col-4, .col-6, .col-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px dotted blue;
    color: white;
    font-size: 8px;
  }
  
  a:link, a:visited {
    color: white; /* Set the color for unvisited links */
    text-decoration: none;
  }
  
  a:active {
    background-color: hotpink;
  }
  
  .second-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c81c1c; /* Different color for the second header */
    font-size: 10px;
    text-align: center;
    color: white; /* Text color for the second header */
    height: 25px;
  }

  td {
    border: hotpink;
  }
}

/* XS >=576px */
@media (min-width: 576px) { 
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 1%, 52%);
    border: 3px dotted red;
    align-items: center;
  }
  
  .row {
    border: 3px solid black;
    width: 100%;
    align-items: center;
  }
  
  .col, .col-01, .col-2, .col-3, .col-4, .col-6, .col-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px dotted blue;
    color: white;
    font-size: 10px;
  }
  
  a:link, a:visited {
    color: white; /* Set the color for unvisited links */
    text-decoration: none;
  }
  
  a:active {
    background-color: hotpink;
  }
  
  .second-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c81c1c; /* Different color for the second header */
    font-size: 10px;
    text-align: center;
    color: white; /* Text color for the second header */
    height: 25px;
  }

  td {
    border: hotpink;
  }
}

/* XS >=768px */
@media (min-width: 768px) { 
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 1%, 52%);
    border: 3px dotted red;
    align-items: center;
  }
  
  .row {
    border: 3px solid black;
    width: 100%;
    align-items: center;
  }
  
  .col, .col-01, .col-2, .col-3, .col-4, .col-6, .col-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px dotted blue;
    color: white;
    font-size: 11px;
  }
  
  a:link, a:visited {
    color: white; /* Set the color for unvisited links */
    text-decoration: none;
  }
  
  a:active {
    background-color: hotpink;
  }
  
  .second-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c81c1c; /* Different color for the second header */
    font-size: 10px;
    text-align: center;
    color: white; /* Text color for the second header */
    height: 25px;
  }

  td {
    border: hotpink;
  }
}

/* XS >=992px */
@media (min-width: 992px) { 
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 1%, 52%);
    border: 3px dotted red;
    align-items: center;
  }
  
  .row {
    border: 3px solid black;
    width: 100%;
    align-items: center;
  }
  
  .col, .col-01, .col-2, .col-3, .col-4, .col-6, .col-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px dotted blue;
    color: white;
    font-size: 12px;
  }
  
  a:link, a:visited {
    color: white; /* Set the color for unvisited links */
    text-decoration: none;
  }
  
  a:active {
    background-color: hotpink;
  }
  
  .second-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c81c1c; /* Different color for the second header */
    font-size: 10px;
    text-align: center;
    color: white; /* Text color for the second header */
    height: 25px;
  }

  td {
    border: hotpink;
  }
}

/* XS >=1200px */
@media (min-width: 1200px) { 
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 1%, 52%);
    border: 3px dotted red;
    align-items: center;
  }
  
  .row {
    border: 3px solid black;
    width: 100%;
    align-items: center;
  }
  
  .col, .col-01, .col-2, .col-3, .col-4, .col-6, .col-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px dotted blue;
    color: white;
    font-size: 13px;
  }
  
  a:link, a:visited {
    color: white; /* Set the color for unvisited links */
    text-decoration: none;
  }
  
  a:active {
    background-color: hotpink;
  }
  
  .second-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c81c1c; /* Different color for the second header */
    font-size: 10px;
    text-align: center;
    color: white; /* Text color for the second header */
    height: 25px;
  }

  td {
    border: hotpink;
  }
}

/* XS >=1400px */
@media (min-width: 1400px) { 
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 1%, 52%);
    border: 3px dotted red;
    align-items: center;
  }
  
  .row {
    border: 3px solid black;
    width: 100%;
    align-items: center;
  }
  
  .col, .col-01, .col-2, .col-3, .col-4, .col-6, .col-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px dotted blue;
    color: white;
    font-size: 14px;
  }
  
  a:link, a:visited {
    color: white; /* Set the color for unvisited links */
    text-decoration: none;
  }
  
  a:active {
    background-color: hotpink;
  }
  
  .second-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c81c1c; /* Different color for the second header */
    font-size: 10px;
    text-align: center;
    color: white; /* Text color for the second header */
    height: 25px;
  }

  td {
    border: hotpink;
  }
}