body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 1%, 52%);
    padding: 10px;
    color: #fff;
    text-align: left;
    font-size: 20px;
    height: 60px;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    display: flex;
    align-items: center;
  }
  
  .horizontal-space {
    margin-right: 120px; /* Adjust the margin to create horizontal space between links */
  }


  /* New styles for the second header */
  .second-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c81c1c; /* Different color for the second header */
    font-size: 18px;
    padding: 6px;
    text-align: center;
    color: white; /* Text color for the second header */
    height: 25px;
  }